html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrapper {
    max-width:960px;
    margin: 0 auto;
}
/*global effects*/

html {
    font-size: 62.5%;
}


    

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}


span {
	color: #e1560e
}

h2 {
	font-family: 'Great Vibes', cursive;
	color: white;
	letter-spacing: 2px;
	font-weight: 700 bolder;
}


/*nav bar*/
nav {
	width: 15%;
	background: #23292c;
}

.navLinks ul li a {
	display: flex;
	flex-direction: column; 
	text-decoration: none;
}

.navLinks ul li	 {
	justify-content: space-between;
	margin: 30px;
	text-decoration: none;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
}

ul li {
	color: white;
	text-decoration: none;
	list-style-type: none;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.twitterIcon {
	color: #e1560e;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: lightgray;

}
/*nav link end*/
/* HERO */
/* Flex Logic */

.flex-container.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    }

.hero .flex-item.left {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-family: 'Open Sans', sans-serif;
    }

.hero .flex-item.right {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
	}
	



/* End Flex Logic */


img {
	max-width: 100%;
}
 
.hero {
	background-image: url(assets/image-1.jpeg);
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
}

.heroIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}

.foodPassion {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cookingSince {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	font-size:19px;
	font-weight:  700;  
	color: #333333;
	background-color: #e1560e;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 0 auto;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 21%;
	margin-top: 25px;
}
/*end of cover*/

/*about us section*/
.contentWrapper {
	width: 100%;
	display: block;

}



 

#about {
	    height: 529px;
    display: block;
    position: relative;
    width: 100%;
}

 .bio {
    float: left;
    display: block;
    background: #eae5d6;
    position: relative;
    width: 50%;
    height: 549px;
 }

 .bio-info {
    float: left;
    width: 100%;
    display: block;
 }

 .bioPic {
    width: 50%;
    float: right;
}


 .bioImage {
 	width: 100%;
 }

.bioImage img {
 	float: left;
display: block;
 }

.chefTitle {
	width: calc(65% - 10px);
	float: right;
	padding-left: 10px;
}

.chefIcon {
	width: 35%;
	float: left;
}

.top, .bottom {
	width: 45%;

}

.chefPicture {
	float: left;
	display: block;
	width: 50%;
}

/*gallery*/

.gallery {
	background: #13223a;
}


.galleryTop {
	width: 100%;

}

.galleryWrapper {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}


.galleryTop ul li {
	display: flex;
	justify-content: space-around;
}



.galleryBottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

.galleryBottom img {
	max-width: 100%;
	width: calc(100% / 5 - 10px);
	padding: 0px;
}
/*Gallery End*/

/*Service Begin*/


.serviceHeader {
	color: #23292c;
}

.serviceBottom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}


.serviceWrapper {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	  display: flex;
    flex-direction: column;
}

.serviceBox {
	width: 35%;
	display: flex;
	flex-direction: column;
}

h3 {
	color: #e1560e;
	padding: 20px;
}

.serviceBox img {
	max-width: 100%;
}




/*menu*/

.menuWrapper{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	
	position: absolute;
	background-color: #031720;
	opacity: 0.4;
	height: 100%;
}

.menu {
	background-image: url(assets/image-13.jpeg) ;
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.menu h2 {

	font-weight: 500;
	/* display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: o auto; */
}

.menuBox {
	display: flex;
	flex-direction: row;
	font-size: 10px;
}

.article
{
    display: flex;
}
.article .item,
.article .price
{
    flex: 1 0 auto;
}

.article .dots
{
    flex: 0 1 auto;
}

.dots::before
{
    display: block;
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: clip;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}




.italic {
	font-style: italic;
}

/*contact footer*/

.contact {
background: #23292c;
}

.contactWrapper {
		width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	display: flex;
    flex-direction: row;
    position: relative;
}

.contactTop {
	width: 100%;
	max-width: 100%;
	position: relative;
}

form {
	position: absolute;
	margin: 0 auto;
	/* top:;
	bottom: ; */
}
